#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label{
  color: #25343F;
}

input {
  background-color: #EAEFEF;
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

button {
  background-color: #FF9B51;
}